<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>맛집방범대 | MYPAGE</title>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9383735bc.js" crossorigin="anonymous"></script>

    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }


        .wrap {
            width: 900px;
            margin: auto;
        }



        .posting-box > .custom-file {
            margin-bottom: 20px;
        }



    </style>
    <script>

        $(document).ready(function () {
            bsCustomFileInput.init()
            listing()
        })

        function listing() {
            $.ajax({
                type: "GET",
                url: "/diary",
                data: {},
                success: function (response) {
                    let diaries = response['all_diary']
                    for (let i = 0; i < diaries.length; i++) {
                        let title = diaries[i]['title']
                        let content = diaries[i]['content']
                        let location = diaries[i]['location']
                        let file = diaries[i]['file']
                        let time = diaries[i]['time']
                        let update = diaries[i]['update']
                        let username = diaries[i]['username2']

                        let temp_html = ``
                        if(update == 1)
                        {
                            temp_html = `<div class="card">
                                            <img src="../static/${file}" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">${title}</h5>
                                                <p class="card-location">${location}</p>
                                                <p class="card-text">${content}</p>
                                                <p class="save-date">${time}</p>
                                                <p class="save-name">ID: ${username}</p>

                                            </div>
                                        </div>`
                        }

                        else
                        {
                            temp_html = ``
                        }


                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

        function share_done()
        {
            alert("이미 공유된 게시물 입니다!")
        }

        function done_list(num) {
            $.ajax({
                type: "POST",
                url: "/bucket/done",
                data: {num_give: num},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function posting() {
            let title = $('#title').val()
            let location = $('#location').val()
            let content = $("#content").val()
            let username = $("#username").val()

            let file = $('#file')[0].files[0]
            let form_data = new FormData()



            form_data.append("file_give", file)
            form_data.append("title_give", title)
            form_data.append("location_give", location)
            form_data.append("content_give", content)
            form_data.append("username_give", username)

            $.ajax({
                type: "POST",
                url: "/diary",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }



    </script>
</head>

<body>
<div class="wrap">
    <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong class="is-sparta"
                        style="font-family: 'Stylish', sans-serif;">맛집 방범대</strong>
            </a>
        </div>
    </nav>

    <div class="room">
        <ul class="right">
            <button style="float: right" type="button" class="btn btn-info" onclick="window.location.href='/user/{{ user_info.username }}'">Mypage</button>
            <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample"
               onclick="window.location.replace('/login')">Logout</a>
        </ul>
    </div>

    <div class="card-room">
        <div class="card-columns" id="cards-box"></div>

    </div>


</body>




</html>